.userParent{
    height: 80vh;
    width: 90%;
    margin: 0 auto;   
    background-color: yellowgreen;
}
.nameRow{
    width: 100%;
    height:75px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: tomato;
}
.nameHead{
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    background-color: yellow;
}
.nameHead p{
    display: flex;
 
    color: white;
    font-size: 25px;
    padding: 6px 8px;
    background-color: #3B82F6;
    border-radius: 8px;
}
.nameHead p:hover{
    background-color: red;
    transition: 0.2s;
}
.addDocParent{
    height: 70%;
    width: 20%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.docList p{
    background-color: #3B82F6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    gap: 4px;
    font-size: 17px;
}

.list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.list li{
   padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: violet;
}

.userInfo{
    height: 250px;
    width: 600px;
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #3B82F6;
    border-radius: 15px;
    background-color: white;
}
.lineOne{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.lineOne p{
    font-weight: 700;
    font-size: 27px;
    color: red;
}
.lineTwo{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: violet; */
}
.lineTwo input{
    width: 60%;
    height: 35%;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
}
.lineThree{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
    /* background-color: tomato; */
}
.btn1{
    height: 45%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Arvo", serif;
    background-color: #3B82F6;
    color: white;
}
.btn1:hover{
    background-color: #2563EB;
    transition: 0.2s;
}
.btn2{
    height: 45%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Arvo", serif;
    background-color: #64748B;
    color: white;
}
.btn2:hover{
    background-color:#475569 ;
    transition: 0.2s;
}
.backBlack2{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
